* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(/assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlighht-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(/assets/sun.svg);
}

.light {
  --text-color: rgb(255, 255, 255);
  --bg-url: url(/assets/bg-mobile-light.jpg);
  --surface-color: rgba(125, 124, 124, 0.198);
  --stroke-color: rgb(255, 255, 255);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlighht-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(/assets/moon-stars.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
  display: flex;
  flex-direction:column ;

}

#profile {
  text-align: center;
}

#profile img {
  width: 154px;
}

#profile p {
  font-weight: 600;
  line-height: 34px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 1;
  cursor: pointer;
  animation: slide-back 0.3s;
}

.light #switch button {
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlighht-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border-radius: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 45px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.2s ease, background 0.2s ease;
  position: relative;
  justify-content: center; /* Centraliza o texto */
}

ul li a i {
  position: absolute;
  left: 16px; /* Ícone à esquerda */
  font-size: 18px;
  color: var(--text-color);
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  transform: translateY(-3px);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlighht-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 16px;
}

a {
  text-decoration: none;

}

ion-icon {
  font-size: 30px;
}

.map-container {
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.226);
box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.map-container h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  color:rgb(255, 255, 255);
}

.loc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto; 
  margin-bottom: 15px;

  border-radius: 15px;

}

iframe {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
@media (min-width: 700px) {
  :root {
    --bg-url: url(/assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(/assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
